<script type="text/javascript">

var imageset = 0

if ($(window).width() >= 800) {
  var windowbig = 1
}else{
  var windowbig = 0
}

$(window).scroll(function() {
      if ($(this).scrollTop() > 300 && imageset===0 && ($(window).width() >= 800)){
          $("#the-div").prepend('<a href="/home" id="theAtag"><img id="theImg" src="/images/melonlogosmall.png"/></a>').hide().fadeIn(1000)
          //document.getElementById("the-ul").style.marginLeft="166px";
          document.getElementById("the-div").style.paddingLeft = "5%";
          imageset=1
    }else if ($(this).scrollTop() < 300 && imageset===1 && ($(window).width() >= 800)) {
         $("#theAtag").remove();
         document.getElementById("the-div").style.paddingLeft="0%";
         imageset=0
    }

})


$(function() {
    // TODO: Move this whole file to a javascript file that is included in the footer

    // Main sticky header
    if ($(window).width() >= 800) {
        sticky = new Waypoint.Sticky({
        element: $("#banner"),
        offset: -300
      });
    }

    // Toggle hamburger menu
    $('.header-hamburger').click(function() {
      $('#banner, .cmn-toggle-switch').toggleClass('active');
      if (location.pathname == '/open-source') {
        $('.header-search span').hide();
        $('#page-sidebar').toggle();
      }
    });

    // Toggle search focus on mobile
    $('input.search').focus(function() {
      $('#header').addClass('search-focused');
    }).blur(function() {
      $('#header').removeClass('search-focused');
    });
  });

$(window).resize(function(){

 if(windowbig===1 && $(window).width() < 800){
   location.reload();
  windowbig = 0
 }
 if(windowbig===0 && $(window).width() >= 800){
   location.reload();
  windowbig = 1
 }

});

function commaSeparateNumber(val){
  while (/(\d+)(\d{3})/.test(val.toString())){
    val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
  }
  return val;
}

$('.Count').each(function () {
  var $this = $(this);
  jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
    duration: 1500,
    easing: 'swing',
    step: function () {
      $this.text(commaSeparateNumber(Math.ceil(this.Counter)));
    },
    complete: function(){
      $this.text(commaSepareteNumber(Math.ceil(this)));
    }
  });
});

</script>
