<div id="header">
    <div class="header-sticky-container">
    <a href="/home"><div class="header-navigation-logo"></div></a>
    <div id = "the-div" class="header-logo">
    </div>
    <div class="header-navigation" style="text-align:center">
      <div id = "the-div2" style="position:absolute; left:calc(50% - 77px);">
        <a href="/home" id="theAtag2"><img id="theImg2" src="/images/melonlogosmall.png"/></a>
      </div>
      <ul id = "the-ul">
        <li>
            <div class="image">
              <a href="/games">
              <img  src="/images/gameslinklogo.png" width="100%" alt="games"/>
              </a>
            </div>
        </li>
        <li>
            <div class="image">
              <a href="/stats">
              <img  src="/images/statslinklogo.png" width="100%" alt="stats"/>
              </a>
            </div>
        </li>
        <li>
            <div class="image">
              <a href="/contact">
              <img  src="/images/contactlinklogo.png" width="100%" alt="contact"/>
              </a>
            </div>
        </li>
        <li>
            <div class="image">
              <a href="/privacy">
              <img  src="/images/privacylinklogo.png" width="100%" alt="privacy"/>
              </a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
