 <!-- Privacy Section -->
    <section id="contact">
        <div class="container">
            <ul class="list-inline item-details" style="text-align:center">
                <li style="display:inline">
                    <strong>
                     <a target = "_blank" href="https://apps.apple.com/us/app/findy-things/id1513448251">
                        <img style="height:60px" alt="App store" src="/img/appstorebadge.svg" />
                     </a>
                    </strong>
                </li>
                <br>
                <br>
                <li style="display:inline">
                    <strong>
                        <a target = "_blank" href="https://play.google.com/store/apps/details?id=com.themelonstudios.hidden">
                          <img style="height:60px" alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
                        </a>
                    </strong>
                </li>
             </ul>
        </div>
    </section>
